:root{
    --bg_color_var:#24353F
}
body{
    background-color: var(--bg_color_var);

}

section>div{
            
        box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    
}
h1{
    color: #17a2b8;
}
.my_border_color{
border-color: white;
transition: 0.5s;
}
.my_border_color:focus{
    border-color: #17a2b8;
    outline: none !important;
}
.btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
}
a:hover{

    text-decoration: underline !important;
}